/Python/*/__pycache__
*.class
Java/Derivative/.classpath
*.hi
Haskell/Summing/results
*.o
*.exe
Haskell/Summing/results2
Haskell/Summing/resultsInt2
Haskell/Summing/resultsInt
Java/*
Java/*/*
!Java/*/
!Java/*/src
!Java/*/src/*
